.App {
  text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
  background-color: #fafafa;
  height: 100vh;
  width: 100%;
}

.navbar-light{
  background-color: #71c4ff !important;
}

.navbar a{
}

.form__login{
  background-color: #fff;
  border: 1.5px solid #d9d9d9;
  border-radius: 5px;
  padding: 25px;
}

.logo__container{
  background-color: #069de5;
}

.postList{
  gap: 5px;
}

.postList__postItem{
  padding: 0;
}

label{
  font-size: 1.5rem;
}
